
  <header class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <section class="logo">
              <a >
                <div class="img-wrapper"><img src="/images/vivalinguaNEW.jpg"></div>
              </a>
           
            
            <div class="links">
              <a class="navbar-item" href="/uploads/content">
                Feed
              </a>
              <a class="navbar-item" href="/uploads/languages">
                Languages
              </a>
        
              <a class="navbar-item" href="/uploads">
                Create Post
              </a>
        
              <a class="navbar-item" href="/users/profile">
                Profile
              </a>
        
              <a class="navbar-item" href="/about">
                About
              </a>
 
              
              <a class="navbar-item" href="/users/logout">
                <strong>Log out</strong>
              </a>
            </section>
      
            </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                
               
              </div>
            </div>
          </div>
         
        </div>
      </nav>
      <p></p>
   </header> 




<div class="about-wrapper">
    
  
<div class="about-wrapper">
  <!-- <h1>${title}</h1> -->
  <h1>Developers</h1>   
      

</div>

<div class="wrapper">
  <div class="creators-wrapper">
   
    <div class="katy">
    <!-- <img src="images/shaiah.png" class="creator-pic" alt="Kevin profile"> -->
    <!-- <h2>Dylan Cooper</h2> -->
    <!-- <p class="text"><a class="github" href="https://github.com/Dcooper15/Viva_Lingua" target="blank">Dylan Cooper </a>is a software developer working in the Tampa, Florida area.
      His contributions to this project include back-end and front-end development using Node.js, Express, JavaScript and HTML.</p> -->
    </div>
    <div class="katy">
      <img src="images/dylanCrop.png" class="creator-pic" alt="Shaiah profile">
      <!-- <h2>Dylan Cooper</h2> -->
      <p class="text"><a class="github" href="https://github.com/Dcooper15/Viva_Lingua" target="blank">Dylan Cooper </a>is a software developer working in the Tampa, Florida area.
        His contributions to this project include back-end and front-end development using Node.js, Express, JavaScript and HTML.</p>
    </div>
    <div class="katy">
      <img src="images/shaiah.png" class="creator-pic" alt="Shaiah profile">
      <!-- <h2>Shaiah Emigh-Doyle</h2> -->
      <p class="text"><a class="github" href="https://github.com/ShaiahWren">Shaiah Emigh-Doyle</a> is a Software Developer currently based in Bar Harbor, ME. Shaiah's contributions to the project include design concept, styling, and backend development.</p>
    </div>
    <div class="katy">
    <img src="images/aliyahCrop.png" class="creator-pic" alt="katy profile">
    <!-- <h2>Aliyah Gamble</h2> -->
    <p class="text"><a class="github" href="https://github.com/AGamble7">Aliyah Gamble</a>  is a Junior Software Developer within the Atlanta, GA area. Her contributions are working in frontend-end development and also some back-end development.</p>
    </div>
    <div class="katy">
      <img src="images/anneCrop.png" class="creator-pic" alt="Shaiah profile">
      <!-- <h2>Shaiah Emigh-Doyle</h2> -->
      <p class="text"><a class="github" href="https://github.com/Athomas9sa">Annemarie Thomas</a> contributed to design and development support..</p>
    </div>
</main>

</div>