<!-- <div class="wrapper">
<h1>${title}</h1>

    <form action="/users/signup" method="POST" class="form">
    
    <label>Username
        <input type="text" name="user_name" placeholder="dylanc"></input>
    </label>

    <label>Email Address
        <input type="text" name="email" placeholder="joe@gmail.com"></input>
    </label>

    <label>Password
        <input type="password" name="password" placeholder="****"></input>
    </label>

    <button type="submit">Create User</button>

    
    </form>

    <p>or</p>
    <a href="/users/login">Login</a>

</div> -->


<!-- NEW SIGNUP -->


<div class="wrapper">
    <!-- <h1>${title}</h1> -->
  <div class="login-wrapper">
    <div class="login">

      <form action="/users/signup" method="POST" class="form">
          <label class="label">
            <img src="/images/vivalinguaNEW.jpg" class="item">
          </label> 
          <label class="label">
            <p class="item"><em>A crowdsourcing app to celebrate linguistic revitalization efforts</em></p>
          </label>


          <label class="label">
              <input type="text" name="user_name" placeholder="USERNAME"></input>
          </label>

          <label class="label">
              <input type="password" name="password" placeholder="PASSWORD"></input>
          </label>

          <label class="label">
            <button type="submit" class="button">CREATE USER</button>
          </label>

          <label class="label">
            <p class="p-or"><span class="or">or</span></p>
          </label>
          <label class="label">
            <a href="/users/login" class="signup">LOGIN</a>
          </label>

      </form>
     
    <div>

    
  </div>
  

</div> 


