 <div class="wrapper">
    <!-- <h1>${title}</h1> -->
  <div class="login-wrapper">
    <div class="login">

      <form action="/users/login" method="POST" class="form">
          <label class="label">
            <img src="/images/vivalinguaNEW.jpg" class="item">
          </label> 
          <label class="label">
            <p class="item"><em>A crowdsourcing app to celebrate linguistic revitalization efforts</em></p>
          </label>


          <label class="label">
              <input type="text" name="user_name" placeholder="USERNAME"></input>
          </label>

          <label class="label">
              <input type="password" name="password" placeholder="PASSWORD"></input>
          </label>

          <label class="label">
            <button type="submit" class="button">LOGIN</button>
          </label>

          <label class="label">
            <p class="p-or"><span class="or">or</span></p>
          </label>
          <label class="label">
            <a href="/users/signup" class="signup">SIGN UP</a>
          </label>

      </form>
     
    <div>

    
  </div>
  

</div> 
