
  <header class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <section class="logo">
              <a >
                <span><img src="/images/vivalinguaSMALL.jpg"></span>
              </a>
            </section>
            
            <div class="links">
              <a class="navbar-item" href="/uploads/languages">
                Languages
              </a>
        
              <a class="navbar-item" href="/uploads">
                Create Post
              </a>
        
              <a class="navbar-item" href="/users/profile">
                Profile
              </a>
        
              <a class="navbar-item" href="/about">
                About
              </a>
 
              
              <a class="navbar-item" href="/users/logout">
                <strong>Log out</strong>
              </a>
      
            </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                
               
              </div>
            </div>
          </div>
         
        </div>
      </nav>
      <p></p>
   </header> 





    <section class="profilePosts"> ${data.map(post => {
        return `<h3><strong>${post.user_name}</strong></h3><h4>${post.title}</h4> ${post.description}`
    }).join('')}</section>
      
</div>
  

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>