 <div class="wrapper">
    <!-- <h1>${title}</h1> -->

    <div class="login">

      <form action="/users/login" method="POST" class="form">
          <label class="label">
            <img src="/images/vivalingua.jpg" class="item">
          </label> 
          <label class="label">
            <p class="item"><em>A crowdsourcing app to celebrate linguistic revitalization efforts</em></p>
          </label>


          <label class="label">
              <input type="text" name="user_name" placeholder="USERNAME"></input>
          </label>

          <label class="label">
              <input type="password" name="password" placeholder="PASSWORD"></input>
          </label>

          <label class="label">
            <button type="submit" class="button">LOGIN</button>
          </label>

      </form>
  <div>

  <div class="signup">
    <label class="label">
      <p class>or</p>
    </label>
    <label class="label">
      <a href="/users/signup" class="item">Sign Up</a>
    </label>
  </div>
  
    </div>

</div> 
