*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color:  #800080;
}

.header {
    background-color: #800080;
    color: #efefef;
    /* margin: 0 auto 8px; */
    /* position: absolute; */
    /* top: 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* width: 100%; */
}


body {
    background: #efefef;
    color: #800080;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}


.item {
    display: flex;
    justify-content: center;
    color: #464345;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
}

.item-choose {
    background-color:white;
    color: #800080;
}

#file-upload-button {
    background-color: #800080;
    color: #800080;
}

.login-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 8px;
    margin: 120px auto;
}

.login {
    display: flex;
    justify-content: center;
}

.signup {
    background-color: #800080;
    color: #efefef;
    width: 150px;
    padding: 8px;
    font-weight: bolder;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-size: smaller;
}



.p-or {
  
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #464345; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .p-or span { 
     background:#efefef; 
     padding:0 10px; 
     color: #464345 ;
 }

.label {
    display: flex;
    justify-content: center; 
    padding: 8px;


}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    /* border-bottom-style: groove; */
    background-color: #eee;
  }

input#upload {
    background-color: white;
}

input:focus {
    outline: none;
}

button {
    background-color: #800080;
    color: #efefef;
    width: 150px;
    padding: 8px;
    font-weight: bolder;
    border-radius: 4px;
}



.navbar-end {
    margin: 0;
    width: 100%;
    text-align: right;
    /* padding-top: 8px; */
}

.card1 {
    margin: 80px;
    width: fit-content;
}

.wrapper {
    /* width: 100%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    
}


.login {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.uploads {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

select {
    /* padding: 2px; */
    border: 0px;
    outline: 0px;

}

select.select {
    background-color: #efefef;
    font-family: 'Noto Sans TC', sans-serif;
    padding-left: 8px;
}

.label-1 {
    display: flex;
    justify-content: center; 
    padding: 8px;
    /* margin-right: 2px; */
}

.language {
    padding: 4px;
}

.title {
    font-size: medium;
    background-color: white;
    color: #800080;
    font-family: 'Noto Sans TC', sans-serif;

}    





.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  background-color: white;
}
.custom-file-input::before {
    background-color: white;
  content: 'Choose file';
  display: inline-block;
  /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border: 1px solid #999; */
  border-radius: 3px;
  /* padding: 5px 8px; */
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  /* font-weight: 700; */
  font-size: medium;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  margin: 0 auto;
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.custom-file-input:hover::before {
  border-color: #800080;
  background-color: white;
  
}
.custom-file-input:active::before {
    background-color: white;
  /* background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
}

.input-choose {
    border-bottom-style: groove ;
}

/* ABOUT PAGE */

.creator-pic {
    /* border-radius: 50%; */
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.creators-wrapper > div{
 width: 100%;
 margin: 16px auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 16px 8px;
 max-width: 800px;

}

.creators-wrapper { 
    color: #464345;
    margin: 32px 0;
    padding-top: 80px;
    width: 100%;
    height: auto;
    background: #efefef;
  
    align-items: center;
}

.github {
    color: #800080;
    
    font-weight: 700;
    font-size: large;
}
.github:hover {
    color: #b491c8;
    transition: .3s;
}

.github:visited {
    color: 428CD4;
}


































































































































































































/* 
profile posts */

.card {
    justify-content: center;
    text-align: left;
}


.usernameprof {
    color: rgba(11, 69, 157, 0.708);
    justify-content: left;
    text-align: left;
    font-family: Palatino;

}

.username {
    color: rgba(218, 135, 11, 0.708);
}




/* nav-bar */



.navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.navbar-menu {
    margin-left: 0;
    text-align: center;
    /* padding: 8px; */
}

.navbar-item {
    color: #efefef;
    text-decoration: none;
    padding: 8px;
}
.navbar-brand {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    
}

.logo {
    float: left;
}

.links {
    padding: 8px;
}




.username {
    color: rgba(11, 69, 157, 0.708);
    font-family: Palatino;
    font-size: 150%;
    /* margin-left: 10px; */
    margin-bottom: 0%;
    margin-top: 3%;
}

.description {
    color: rgb(2, 10, 31);
    /* margin-bottom: 5%; */
    margin: 0;
    /* padding: 8px; */
}

.poststitle {
    margin-top: 0%;
    margin-bottom: 2%;
    /* margin-left: 1%; */
    text-decoration: underline;
}

.divcard {
    margin: 50px auto;
    width: 500px;
    height: 250px;
    padding: 0px 34px;
    padding-top: 16px;
    background-color: white;
    border-radius: 8px;
}






















